<div id="home">
	<h1>4-letters.net</h1>
	<form action="/" method="get">
		<label for="fourletters">fourletters:</label><br>
		<input type=”text” id="fourletters" name="fourletters"><br><br>
		<input type="submit" value="Submit">
	</form>
</div>
<footer>
	<p>composed by <a href="http://jordandashel.com">jordyn</a> with elixir</p>
</footer>
